@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 120vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/1.jpg);
    background-size: cover;
    display: inline-block;
    
}

a {
    text-decoration: none;

}

li {
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: white;
    border-radius: 100px;
    margin-top: 20px;
}

.logo {
    font-size: 22px;
    color: black;
    transition: .25s ease-in-out;
}

.logo:hover {
    color: crimson;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.menu a {
    color: black;
    font-size: 18px;
    letter-spacing: 1px;
    transition: 0.5s ease-in-out;
}

.menu a:hover {
    color: crimson;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger .line1, 
.burger .line2,
.burger .line3 {
    width: 24px;
    height: 3px;
    background-color: black;
    transition: .3s ease;
}

.burger .line2 {
    margin: 3px 0px;
}

section {
    margin-left: 45px;
    margin-top: 10%;
} 

section h1 {
    color: white;
    font-size: 40px;
}

section span {
    color: crimson;
}

section .cizgi {
    border: 0.5px solid white;
    width: 95%;
    margin-top: 20px;
}

section .icerik h1 {
    margin-top: 20px;
    color: crimson;
}

section .icerik p {
    color: white;
    max-width: 90%;
    margin-top: 5px;
}

section .icerik button {
    width: 200px;
    height: 80px;
    margin-top: 30px; 
    border-radius: 100px;
    background-color: crimson;
    border: none;
    color: white;
    transition: .25s ease-in-out;
}

section button:hover {
    background-color: white;
    color: crimson;
} 


section .icerik {
    margin-left: 2%;
}

section .content {
    display: flex;
    align-items: center;
}

section .image img {
    width: 200px;
    height: 400px;
    margin-top:50px;
}

@media screen and (max-width:768px) {
    
    body {
        overflow-x: hidden;
        height: 100vh;
    }

    .container {
        width: 100%;
        height: 150vh;
    }
    
    .burger {
        display: block;
    }

    .menu {
        position: absolute;
        top: 9.6vh;
        right: 0;
        width: 60%;
        height: 92vh;
        display: flex;
        flex-direction: column;
        background-color: aliceblue;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: .5s ease;
    }

    section .icerik {
        margin-left: -1%;
    }

    section .icerik button {
        width: 170px;
        height: 40px;
        margin-top: 30px; 
        border-radius: 100px;
        background-color: crimson;
        border: none;
        color: white;
        transition: .25s ease-in-out;
    }

    section button:hover {
        background-color: white;
        color: crimson;
    } 

    section .content {
        display: grid;
    }
    
    section .image img {
        width: 110px;
        height: 200px;
        margin-top:50px;
    }


}

.menu-active {
    transform: translateX(0);
}



@keyframes linksFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}



::-webkit-scrollbar {
    display: none;
    visibility: hidden;
    opacity: 0
}